
.pulsante-submit {
    margin-top: 40px;
}

.label-typ {
    font-weight: 100;
    font-size: 18px;
}

.form-caricamento {
    margin-top:10px;
}

.logo-agesci {
    width:60%;
}

.title-header {
    margin-top:20px;
    background-color: rgba(255, 255, 255, 0.616);
}

.ringraziamento {
    margin-top:20px;
    margin-bottom:10px;
    font-weight: 200;
    font-size: 25;
}

.errore {
    margin-top:40px;
    margin-bottom:40px;
    font-weight: 200;
    font-size: 25;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7)
}

.background-header{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:110px;
}

.background-footer{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:110px;
}

.body-background{
    background-position:center;
    background-size: cover;
    background-repeat: repeat-y;
    top: 200px;
}

.header-image{
    max-height: 100px;
    width: auto;
    margin-top:10px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left:20px;
}

.title-image{
   margin-top: -20px;
}

.title-image-XS{
    margin-top: 10px;
 }

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
  }

  .footer-alignement{
    margin-top: 50px;

  }

  .row-immagini-centenario{
      height: 30px;
  }

  .form-layout{
      background-color: rgba(255, 255, 255, 0.9);
      padding:10px;
      
  }

  .p-layout{
    background-color: rgba(255, 255, 255, 0.9);
    padding:10px;
}

.transparency-col{
    background-color: rgba(255, 255, 255, 0.9);
    padding:10px;
}
  .background-transparency{
    background-color: rgba(255, 255, 255, 0.8);
    padding:10px;
  }

  .corpo-testi{
    font-size: 18px;
    text-align: justify;
    font-weight: 100;
    
  }

  .pre-footer{
    height: 50%;
  }

  .button-fixed-bottom {
    margin-bottom:30px;
    margin-right: 10px;
    float: right;
  }
  
@media (max-width:575px){
    
    .background-header{
        min-height: 250px;
    }

    .corpo-margin{
        margin-top:-50px;
    }

    .body-background{
        background-position:center;
        background-size: cover;
        background-repeat: repeat-y;
    }
}