
.pulsante-submit {
    margin-top: 40px;
}

.label-typ {
    font-weight: 200;
}

.form-caricamento {
    margin-top:10px;
}

.logo-agesci {
    width:60%;
}

.title-header {
    margin-top:20px;
    margin-bottom:20px;
}

.ringraziamento {
    margin-top:40px;
    margin-bottom:40px;
    font-weight: 200;
    font-size: 25;
}

.background-header{
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
    background-image: url(img/header-RN.png);
}

.header-image{
    max-height: 100;
    width: auto;
}