
.pulsante-submit {
    margin-top: 40px;
}

.label-typ {
    font-weight: 200;
}

.form-caricamento {
    margin-top:10px;
}

.logo-agesci {
    width:60%;
}

.title-header {
    margin-top:20px;
    background-color: rgba(255, 255, 255, 0.616);
}

.ringraziamento {
    margin-top:40px;
    margin-bottom:40px;
    font-weight: 200;
    font-size: 25;
}

.background-header{
    background-position: center;
    background-size: cover;

}

.header-image{
    max-height: 100px;
    width: auto;
    margin-top:10px;
}